version: 2.1

orbs:
  node: circleci/node@4.1.0

jobs:
  build-and-deploy:
    executor:
      name: node/default
      tag: '14'
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run:
                name: Install Dependencies
                command: npm install
            - run:
                name: Build Project
                command: npm run build
            - run:
                name: Run Tests
                command: npm test
            - run:
                name: Deploy to GitHub Pages
                command: |
                  git config --global user.email "punna1s@cmich.edu"
                  git config --global user.name "codepyrater"
                  npm install gh-pages --save-dev
                  npm run deploy

workflows:
  version: 2
  build:
    jobs:
      - build-and-deploy
