version: 2.1

orbs:
  node: circleci/node@4.1.0

jobs:
  build-and-deploy:
    executor:
      name: node/default
      tag: '14'
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run:
                name: Install Dependencies
                command: yarn install
            - run:
                name: Build Project
                command: yarn build
            - run:
                name: Deploy to GitHub Pages
                command: |
                  git config --global user.email "punna1s@cmich.edu"
                  git config --global user.name "codepyrater"
                  git checkout main
                  cp -r build/* .
                  git add .
                  git commit -m "Deploy"
                  git push origin main

workflows:
  version: 2
  build:
    jobs:
      - build-and-deploy
